<%= tag.article class: 'mb-3 card border-0', id: dom_id(message) do%>
<!-- dom_id и dom_class — это вспомогательные методы, которые можно использовать в HTML для получения
согласованных атрибутов идентификатора html и атрибутов класса для объектов. -->
<div class="row g-0">
    <div class="col-sm-auto text-sm-center align-self-center">
        <%= message.user.gravatar size: 50, css_class: 'd-block' %>
        <%= message.user.name_or_email %>
    </div>
        <div class="col-sm">
            <div class="card-body">
            <section class="card-text mb-3">
                    <div class="col-sm-9">
                        <small>
                            <time datetime="<%= message.formatted_created_at%>">
                                <%= message.formatted_created_at %>
                            </time>
                        </small>
                        <div class="mt-2">
                            <%= sanitize message.body %>
                        </div>
                    </div>
            </section>
                <%= link_to t('topics.show.edit'), edit_topic_message_path(local_topic, message), class: 'btn btn-primary btn-sm' %>
                <%= link_to t('topics.show.delete'), topic_message_path(local_topic, message), class: 'btn btn-danger btn-sm', data: { method: :delete, confirm: t('topics.show.confirm') } %>
            </div>
        </div>
    </div>
<% end %>