<% provide :page_title, t('shared.menu.signin')%>
<% currently_at t('shared.menu.signin') %>

<h1>Вход</h1>

<%= form_with url: session_path do |f|%> <!-- так как у нас нету никакой модели мы отправляем на адресс наши данные-->
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :email %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.email_field :email, value: params[:email],  placeholder: t('users.form.email'), class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :password %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.password_field :password,  placeholder: t('users.form.password'), class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>

    <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
            <div class="form-check">
                <%=f.check_box :remember_me, class: 'form-check-input', value: '1' %> <!-- Этот чек-бокс создаст и в params ввернет значение переменной remember_me-->
                <%=f.label :remember_me, class: 'form-check-label' %>
            </div>
        </div>
    </div>

    
    <%= f.submit t('shared.menu.signin'), class: 'btn btn-success btn-lg' %>
    <%= link_to t('.forgot_password'), new_session_path, class: 'btn btn-secondary' %>
<% end %>