<% provide :page_title, t('menu.topics') %> <!--provide сохраняет "Обсуждения" в :page_title-->
<% currently_at t('menu.topics') %>
<h1 class="text-center mb-4"><%= t('menu.topics') %></h1>

<%= link_to t('topics.new.topic'), new_topic_path, class: 'btn btn-success btn-lg mb-3'%>

<%= pagination @pagy %> 

<%= render @topics %>

<%= pagination @pagy %>

<!-- два знака ровно выведут содержимое без экранирования строки -->