<% provide :page_title, t('menu.topics') %> <!--provide сохраняет "Обсуждения" в :page_title-->
<% currently_at t('menu.topics') %>
<h1 class="text-center mb-4"><%= t('menu.topics') %></h1>
<section class="mb-5">
    <h2><%= t('.search_by_tags') %></h2>
    <%= form_with url: topics_path, method: :get do |f|%>
        <div class="mb-3">
      <%= f.collection_select :tag_ids, [], :id, :title, {selected: params[:tag_ids]},
        multiple: true, required: true,
        class: 'js-multiple-select', data: {'ajax-url': '/api/tags'} %>
    </div>

    <%= f.submit t('.search_by_tags'), class: 'btn btn-success' %>
    <% end %>
</section>

<% if policy(:topic).new? %>
  <%= link_to t('topics.new.topic'), new_topic_path, class: 'btn btn-success btn-lg mb-3'%>
<% end %>
<%= pagination @pagy %> 

<%= render @topics %>

<%= pagination @pagy %>

<!-- два знака ровно выведут содержимое без экранирования строки -->