<% currently_at t('menu.topics')%>
<% provide :page_title, t('.topic')%>
<h1 class="text-center mb-4"><%= @topic.title%> </h1>
<small class="text-center">Id: <%= @topic.id %></small>
<br>
<time datetime="<%= @topic.formatted_created_at%>">
    <small><%= @topic.formatted_created_at %></small>
</time>
<div class = "lead my-3">
    <%= sanitize @topic.body %> <!-- sanitize  - хелпер который удаляет с текста все небезопасные тэги html -->
</div>

<div class="mb-3">
    <%= @topic.user.gravatar %>
    <%= @topic.user.name_or_email %>
</div>
<%= link_to t('.more'), topic_path(@topic.id), class: 'btn btn-primary' %> <!-- В перфиксах очень просто запуться, смотри их в rails/routes -->
<%= link_to t('.edit'), edit_topic_path(@topic.id), class: 'btn btn-secondary' %> <!--Префикс edit_topic_path генерируется сам, но ему еще надо передать топик :ID -->  
<%= link_to t('.delete'), topic_path(@topic.id),class: 'btn btn-danger', data: {method: :delete, confirm: t('.confirm')} %> <!-- В этому случае не нужно дать POST запрос на страницу вопросов, а нужно дать DELETE запрос  -->

<hr class="my-3">
<h2 class="text-center mb-4"><%= t('.title') %></h2>

<%= render 'messages/form' %>

<h2 class="mt-5"><%= t('.messages') %></h2>

<%= pagination @pagy %> 

<%= render partial: 'messages/message', collection: @messages, as: :message, locals: {local_topic: @topic} %> 
<!-- Упрощенная версия form_with для паршала -->
<!-- Говорим что рендерим паршал, даем его путь, указываем имя колекции для которой мы его ренднрим  -->
<!-- Указываем нашу переменную итератор message и передаем в паршал локальную переменную local_topic -->
<%= pagination @pagy %> 