<% currently_at 'Обсуждения'%>
<% provide :page_title, 'Обсуждение'%>
<h1 class="text-center mb-4"><%= @topic.title%> </h1>
<small class="text-center">Id: <%= @topic.id %></small>
<br>
<time datetime="<%= @topic.formatted_created_at%>">
    <small><%= @topic.formatted_created_at %></small>
</time>
<div class = "lead my-3">
    <%= sanitize @topic.body %> <!-- sanitize  - хелпер который удаляет с текста все небезопасные тэги html -->
</div>
<%= link_to 'Подробнее', topic_path(@topic.id), class: 'btn btn-primary' %> <!-- В перфиксах очень просто запуться, смотри их в rails/routes -->
<%= link_to 'Изменить', edit_topic_path(@topic.id), class: 'btn btn-secondary' %> <!--Префикс edit_topic_path генерируется сам, но ему еще надо передать топик :ID -->  
<%= link_to 'Удалить', topic_path(@topic.id),class: 'btn btn-danger', data: {method: :delete, confirm: 'Уверены, что хотите удалить вопрос?'} %> <!-- В этому случае не нужно дать POST запрос на страницу вопросов, а нужно дать DELETE запрос  -->

<hr class="my-3">
<h2 class="text-center mb-4">Напишите ваше сообщение</h2>

<%= render 'messages/form' %>

<h2 class="mt-5">Сообщения</h2>

<%== pagy_bootstrap_nav @pagy %> 

<%= render partial: 'messages/message', collection: @messages, as: :message, locals: {local_topic: @topic} %> 
<!-- Упрощенная версия form_with для паршала -->
<!-- Говорим что рендерим паршал, даем его путь, указываем имя колекции для которой мы его ренднрим  -->
<!-- Указываем нашу переменную итератор message и передаем в паршал локальную переменную local_topic -->
<%== pagy_bootstrap_nav @pagy %> 