<!-- Из-за _в начале названия файла - это Паршал-->

<%= render 'shared/errors', object: @user %> <!-- object - переменная внутри паршела errors -->


<%= form_with model: @user do |f| %> <!-- Создание формы, данные которой пойдут в модель @topic / С помощью f можем добавлять элементы -->
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :email %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.email_field :email,  placeholder: "Электронная почта", class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :name %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.text_field :name,  placeholder: "Логин", class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :password %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.password_field :password,  placeholder: "Пароль", class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>
    
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
            <%= f.label :password_confirmation %> <!-- Создает html тег label -->
        </div>

        <div class="col-sm-10">
            <%= f.password_field :password_confirmation,  placeholder: "Подтверждение пароля", class: 'form-control form-control-lg' %> <!-- Сложно для восприятия, но важно правилно ставить : -->
        </div>
    </div>
    <%= f.submit "Зарегистрироваться", class: 'btn btn-success btn-lg' %>
<% end %>